$--padding: 10px;

$--navbar-height: 54px;
$--navbar-z-index: 200;

$--border-color: #dadde1;
$--border-radius: 8px;

$--text-input-height: 36px;
$--text-input-padding: 10px;

//
$--color-text: #5d6171;
$--color-bg-hovered: #eef3f7;

$--color_text-input-border: rgb(192, 206, 217);
$--color_text-input-border--disabled: rgba(192, 206, 217, 0.3);

$--color_section-bg: #fdfdfd;

$--color_icon--active: #2a3450;
$--color_icon--inactive: $--color_text-input-border;

$--color-icon--bg-selected: #eff4f7;
