@import 'styles/variables';
@import 'styles/mixins';

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

// body {
//   height: 100vh;
//   width: 100vw;
// }

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#konva-stage-container {
  $bg-color: #f4f6f5;
  $dot-color: hsl(256, 33, 70);

  $dot-size: 1px;
  $dot-space: 22px;
  canvas {
    // background: #f1f1f1 !important;
    background: linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
      linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center, $dot-color !important;
    background-size: $dot-space $dot-space !important;
  }
}

.main {
  flex: 1 0 auto;
}

.page {
  display: flex;
}

.sidebar {
  &__container {
    border-right: 1px solid $--border-color;
    min-width: 300px;
    max-width: 300px;
    position: relative;
  }

  @include height-without-navbar;

  display: flex;
  flex-direction: column;
  overflow-y: auto;
  position: sticky;
  top: 0;
}

.menu {
  flex-grow: 1;
  padding: 5px;
}

.builder-main {
  flex-grow: 1;
  @include height-without-navbar;
  overflow-y: auto;
}

.builder-controls {
  max-width: 300px;
  min-width: 300px;
  border-left: 1px solid $--border-color;
  background-color: #f6f6f6;

  @include height-without-navbar;
  overflow-y: auto;
}

.controls-section {
  padding: 10px 20px;
  border-bottom: 1px solid $--border-color;

  &__row {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
  }

  &__separator {
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

#konva-stage-container {
  @include height-without-navbar;
}

.separator {
  border-bottom: 1px solid $--border-color;
  width: 100%;
}

.svg-icon {
  fill: $--color-text;
  cursor: pointer;

  &--active {
    fill: $--color_icon--active;
  }
}

.document-structure {
  &__row {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;

    @include make-hoverable;

    &--active {
      background-color: $--color-bg-hovered;
    }
  }

  &__row-icon {
    margin-right: 10px;
  }
}
