@import 'styles/variables';
@import 'styles/mixins';

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

// body {
//   height: 100vh;
//   width: 100vw;
// }

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
}

.page {
  display: flex;
}

.sidebar {
  &__container {
    border-right: 1px solid $--border-color;
    min-width: 300px;
    max-width: 300px;
    position: relative;
  }

  @include height-without-navbar;

  display: flex;
  flex-direction: column;
  overflow-y: auto;
  position: sticky;
  top: 0;
}

.menu {
  flex-grow: 1;
}

.builder-main {
  flex-grow: 1;
  @include height-without-navbar;
  overflow-y: auto;
}

.builder-controls {
  max-width: 300px;
  min-width: 300px;
  border-left: 1px solid $--border-color;
  background-color: #f6f6f6;

  @include height-without-navbar;
  overflow-y: auto;
}

.controls-section {
  padding: 10px 20px;
  border-bottom: 1px solid $--border-color;

  &__row {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
  }

  &__separator {
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.labeled-input {
  position: relative;

  font-size: 14px;

  input {
    color: #727585;
    padding-right: 30px;
  }

  &__label {
    &-container {
      top: 0;
      right: 0;
      position: absolute;
      height: $--text-input-height;
    }

    height: $--text-input-height;
    color: #8c99a2;
    display: flex;
    align-items: center;
    padding-right: $--text-input-padding;
  }
}
.text-input {
  height: $--text-input-height;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid $--color_text-input-border;
  padding: $--text-input-padding;
  width: 100%;

  &:focus {
    outline: 0;
    // box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
    border: 0;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    // filter: drop-shadow(0px 1px 10px rgba(0, 0, 0, 0.1));
  }
}
